<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="static/styles.css">
<title>TeachR</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="header">
  <h1>TeachR</h1>
  <p>Providing teaching resources</p>
</div>

<div class="row">
  <div class="side">
    <h2>Selected Fields</h2>
    <button class="choices">Math</button><br>
    <button class="choices">Grade 1</button><br>
    <button class="choices">Remote</button><br>
    <button class="choices">Laptop</button><br>
    <button class="choices">Tablet</button><br>
  </div>
  <div class="main">
    <h2>Resources available</h2>
    <h3>Lessons</h3>
    <h5>Basic Addition and Subtraction</h5>
    <ul>
    <li><a href="#">https://www.education.com/guided-lesson/addition-1st/</a></li>
    <li><a href="#">https://presentations.pppst.com/countingfrogs.ppt</a></li>
    <li><a href="#">http://www.slideshare.net/itutor/basic-math-addition/</a></li>
    <li><a href="#">http://www.slideshare.net/jedaine/addition-and-subtraction-ppt</a></li>
    <li><a href="#">http://www.slideshare.net/powerss/counting-coins-touchpointintro</a></li>
    <li><a href="#">http://www.slideshare.net/squirky/addition-using-a-number-line</a></li>
    </ul>
    <h3>Videos</h3>
    <h5>Basic Addition and Subtraction</h5>
    <ul>
    <li><a href="#">https://www.youtube.com/watch?v=pxUY29LpMZE</a></li>
    <li><a href="#">https://www.youtube.com/watch?v=1RaL_2okktE</a></li>
    <li><a href="#">https://www.youtube.com/watch?v=AaxrqDuw1Xk</a></li>
    <li><a href="#">https://www.youtube.com/watch?v=E0sqtLygbV4</a></li>
    <li><a href="#">https://www.youtube.com/watch?v=_b0oMzlvERI</a></li>
    <li><a href="#">https://www.youtube.com/watch?v=8cR_1Qi-tP4</a></li>
    <li><a href="#">https://www.youtube.com/watch?v=tVHOBVAFjUw</a></li>
    <li><a href="#">https://www.youtube.com/watch?v=uy3A6VWDGs4</a></li>
    </ul>
    <h3>Games</h3>
    <h5>Basic Addition and Subtraction</h5>
    <ul>
    <li><a href="#"> https://www.education.com/game/number-pairs-bubble-buster/</a></li>
    <li><a href="#">https://www.education.com/game/dinobones-two-digit-addition-within-100/</a></li>
    <li><a href="#">https://www.education.com/game/secret-agent-addition/</a></li>
    <li><a href="#">https://www.education.com/game/first-addition-demolition/</a></li>
    <li><a href="#">https://www.education.com/game/dino-photoshoot-two-digit-addition-within-20/</a></li>
    <li><a href="#">hhttps://www.education.com/game/dinofishing-two-digit-addition-finding-10-more/</a></li>
    <li><a href="#">https://www.youtube.com/watch?v=tVHOBVAFjUw</a></li>
    <li><a href="#">https://www.youtube.com/watch?v=uy3A6VWDGs4</a></li>
    </ul>
  </div>
</div>

<div class="footer">
  <h5>TeachR created for SigmaHacks3</h5>
</div>

</body>
</html>
